@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
 
  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply text-blue-gray-500 antialiased;
  }
}

@layer components {
  * {
    @apply border-gray-200;
    border-color: rgb(var(--foreground-rgb) / 0.1);
  }
  
  body {
    @apply bg-background text-foreground;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  }

  .btn {
    @apply rounded-md py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }

  .fade-in {
    animation: fadeIn 2s forwards;
    opacity: 0;
  }

  .slide-left {
    animation: slide 2s ease forwards;
    opacity: 0;
  }

  .slide-right {
    animation: slideFromRight 1.5s ease-out forwards;
    opacity: 0;
  }

  .slide-down {
    animation: slideDown 1.5s ease-out forwards;
    opacity: 0;
  }

  .slide-up {
    animation: slideUp 1.5s ease-out forwards;
    opacity: 0;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideFromRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .slide-down-animation {
    animation: slideDown 0.8s ease-out forwards;
  }
}
